<style>


  .container{
    padding: 16px;
    margin: 1em;
    border:1px solid white;
  }
</style>
<div class="container">
  <div class="profile-photo">
    <img src="" alt="Profile Photo" >
  </div>
  <div>
    <p>
      I am a skilled student in software engineering aspiring to venture into Internet applications development and Mobile application development.
    </p>
    <p>I am currently working on developing my blog site using Angular and Firebase and also skilling up in NodeJS and Android Development.</p>
      <p>
      I have tested my proficiency in JavaScript, Java and PHP languages in schoolwork and freelance projects. I have also engaged in machine learning tasks with python and Game development project using Godot game engine.
      I am interested in opportunities that can help me thrive in my skills especially backend development, software architecture and learn new skills.
    </p>

  </div>


</div>
