<style>


  .container{
    padding: 16px;
    margin: 1em;
    border:1px solid white;
  }
</style>
<div class="container">
  <div class="profile-photo">
    <img src="" alt="Profile Photo" >
  </div>
  <div>
    <p>Anthony Angatia is passionate software developer.
       He is very thoughtful in his works and very practical.
        He always seeks the right way of doing things, basically, he likes clean code even though sometimes he breaks this rule when he run out of time.
         He prefers writing code rather than long stories.</p>
         <p>He is dedicated to his work and tries to get the job done.
            He aims to acquire and share vast knowledge in various technologies in the near future while putting his core focus on backend technologies.</p>
            <p>At times I make people laugh. I prefer a 'not dull' environment.</p>
            <p>Parting Shot: Never stop trying as long as you are convinced it is the right thing to do.
               However, no-one is judge in his own cause. Get some good people to oversee 'it/you'.</p>
    <!-- <p>
      I am a skilled student in software engineering aspiring to venture into Internet applications development and Mobile application development.
    </p>
    <p>I am currently working on developing my blog site using Angular and Firebase and also skilling up in NodeJS and Android Development.</p>
      <p>
      I have tested my proficiency in JavaScript, Java and PHP languages in schoolwork and freelance projects. I have also engaged in machine learning tasks with python and Game development project using Godot game engine.
      I am interested in opportunities that can help me thrive in my skills especially backend development, software architecture and learn new skills.
    </p> -->

  </div>


</div>
