<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened style="display: flex; flex-direction: column; align-content: space-around;">
    <p>Home</p>
    <p>Code Morsel</p>
    <p>About Me</p>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style=" display: flex; justify-content: flex-end;">
      <mat-toolbar color="primary" style="width:20%; height:100px; margin-top: 5px; border-radius: 0px 0px 0px 40px;">
        <span>
          <mat-slide-toggle (change) = "onSwitch($event)" >Dark mode</mat-slide-toggle>
        </span>
      </mat-toolbar>
    
    </div>
    <div style="margin: auto;text-align: center; ">
      <div>
        <h2>Hello World</h2>
        <h1>I am Anthony Angatia</h1>
        <h2>Welcome to my world</h2>
      </div>
      </div>

  </mat-sidenav-content>
</mat-sidenav-container>
