<div style="padding: 16px; margin:1em;">
    <div style=" text-align: center;">
        <h1 class="mat-display-1" >Creating dark theme using Angular Material</h1>
    </div>
    <div>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur at illum, ipsam vero culpa, eaque pariatur commodi recusandae consectetur, voluptatum corrupti aperiam maxime dolore sunt unde provident aspernatur error aliquam.</p>
        </div>
        <div>
            
            <pre>
                <span class="file-name" [highlight] = "fileName"> main.js</span>
                <code [highlight]="str" (highlighted)="onHighlight($event)" [lineNumbers]="true">{{str}}</code>
            </pre>
        </div>
        <div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique, nisi. Quas modi aspernatur eligendi incidunt reiciendis odio excepturi laudantium dolorum inventore itaque officia corporis illum quam sequi doloremque, unde nobis.</p>
        </div>
    </div>
</div>