<style>
    .heading1{
        text-align: center;
    }
    .card{
      cursor: pointer;
    }
    .card-margin{
      margin:1em 1em;
    }
</style>


<div style="padding: 16px; margin:1em;">
  <div class="card card-margin" *ngFor="let item of snippets">
    <a [routerLink]="['/snippets', item.route]">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ item.title }}</mat-card-title>
        <mat-card-subtitle>{{ item.sub_title }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <a *ngFor="let tag of item.tags" [routerLink] ="['/snippets', tag.name]">
          <span class="tag" [class]= "tag.classexpression">#{{ tag.name }}</span>
        </a>
      </mat-card-actions>

    </mat-card>
  </a>

  </div>



    <!-- <div class="heading1">
        <h1 class="mat-display-3" >Creating dark theme using Angular Material</h1>
    </div>
    <markdown ngPreserveWhitespaces>
      ```typescript
      export function greetings(name: string): string &#123;
        return 'Hello ' + name;
      }
      ```
    </markdown>
    <markdown [src] = "'assets/TEST.md'">
    </markdown> -->

</div>
