// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Anthony-Angatia-primary: mat-palette($mat-green);
$Anthony-Angatia-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Anthony-Angatia-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$light-theme: mat-light-theme(
  (
    color: (
      primary: $Anthony-Angatia-primary,
      accent: $Anthony-Angatia-accent,
      warn: $Anthony-Angatia-warn,
    ),
  )
);
$dark-theme: mat-dark-theme(
  (
    color: (
      primary: $Anthony-Angatia-primary,
      accent: $Anthony-Angatia-accent,
      warn: $Anthony-Angatia-warn,
    ),
  )
);
$custom-typography: mat-typography-config(
  $font-family: "Kreon, serif",
  $headline: mat-typography-level(28px, 48px, 400),
  $title: mat-typography-level(20px, 48px, 400),
  $subheading-2: mat-typography-level(20px, 48px, 400),
  $subheading-1: mat-typography-level(20px, 48px, 400),
  $body-1: mat-typography-level(20px, 40px, 400),
);
//font-size, line-height, and font-weight Reference: https://github.com/angular/components/blob/master/guides/typography.md
@include angular-material-typography($custom-typography);

//! @include angular-material-typography($custom-typography);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include angular-material-theme($dark-theme);//remove this to avoid duplication

/* You can add global styles to this file, and also import other style files */

// html, body {  }

.theme-dark {
  @include angular-material-color($dark-theme);
}
.theme-light {
  @include angular-material-color($light-theme);
}

.file-name {
  width: fit-content;
  margin-bottom: -57px;
  border: 1px solid;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.div-transition {
  transition: box-shadow, background-color 0.5s ease 0s;
}
.div-transition:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: #303030;
  color: white;
}
::selection {
  background-color: #4caf50;
}
.tag {
  margin: 2px 1em 2px 0em;
}
.tag-inner {
  border-radius: 2px;
  padding: 4px 12px;
  background-color: #303030;
}
.tag-angular {
  background-color: #c3002f;
  color: #ffffff;
}
.tag-angular-material {
  background-color: #3f51b5;
  color: #ffffff;
}
.tag-javascript {
  background-color: #efd81d;
  color: #303030;
}
.tag-node {
  background-color: #75ad64;
  color: #303030;
}
.tag-sql {
  background-color: #31648c;
  color: #ffffff;
}
.tag-java {
  background: rgb(82, 131, 160);
  background: linear-gradient(
    90deg,
    rgba(82, 131, 160, 1) 75%,
    rgba(248, 153, 23, 1) 100%
  );
  color: #ffffff;
}
$custom-typography2: mat-typography-config(
  $font-family: "Kreon, serif",
  $display-4: mat-typography-level(42px, 48px, 400),
  $display-3: mat-typography-level(36px, 48px, 400),
  $display-2: mat-typography-level(28px, 48px, 400),
  $display-1: mat-typography-level(24px, 48px, 400),
  $title: mat-typography-level(24px, 48px, 400),
  $body-1: mat-typography-level(18px, 40px, 400),
);
@media only screen and (max-width: 600px) {
  @include angular-material-typography($custom-typography2);
}
